# Ignore intermediate files
*/Intermediate/*

# Ignore binaries
*/Binaries/*

# Ignore Visual Studio files
.vs

# Ignore macOS-specific files
.DS_Store

# Ignore log files
*.log
*.bak
*.bak.*
*.dmp

# Ignore compiled shader cache
*/Shaders/Intermediate/*
